<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="3">

	<listeners>
		<listener class-name= "Divy.Framework.ITestListenerInterfaceClass" />
	</listeners>
	
	<test thread-count="5" name="Test" >
		<classes>
			<class name="Divy.Framework.HomePageTestCases" />
		</classes>
	</test> 
</suite> 
